<div class="container">
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let notice of noticesCarousel">
      <div class="notice-carousel">
        <h1>{{ notice.title }}</h1>
        <p>{{ notice.subtitle }}</p>
      </div>
    </ng-template>
  </swiper>
  <div class="banner">
    <img class="banner-img" src="assets/img/banner-home.svg" />
    <div class="arrow-down-container">
      <img
        class="arrow-down"
        (click)="scrollDown()"
        src="assets/img/arrow-down.svg"
      />
    </div>
  </div>
  <div class="texts">
    <h1>UM NOVO CONCEITO</h1>
    <p>Nosso jeito CMPS Luxury de ser.</p>
    <button><p>Navegar</p></button>
  </div>
  <div class="section">
    <div class="for-all">
      <h1>Para todos</h1>
      <div class="models-img">
        <div class="section-img">
          <img
            class="taller-img"
            src="assets/img/models/section-home/new-concept/new-concept-1.jpg"
          />
          <div class="button-text">
            <p class="text">Social</p>
            <button><p>Ver</p></button>
          </div>
        </div>
        <div>
          <div class="section-img">
            <img
              src="assets/img/models/section-home/new-concept/new-concept-2.svg"
            />
            <button class="button-side first"><p>Ver</p></button>
          </div>
          <div class="section-img">
            <img
              src="assets/img/models/section-home/new-concept/new-concept-3.svg"
            />
            <button class="button-side"><p>Ver</p></button>
          </div>
        </div>
      </div>
    </div>
    <div class="currently-popular">
      <h1>Populares atualmente</h1>
      <swiper [slidesPerView]="3">
        <ng-template swiperSlide *ngFor="let item of sectionCurrentlyPopular">
          <div class="item-section">
            <img [src]="item.image" [alt]="item.title" />
            <div class="texts">
              <h3>{{ item.title }}</h3>
              <h3 style="text-align: center">{{ item.price }}</h3>
              <p>{{ item.gender }}</p>
            </div>
          </div></ng-template
        >
      </swiper>
    </div>
  </div>
</div>
