<div class="container">
  <div class="notice-carousel">
    <h1>Produtos com 40% de desconto</h1>
    <p>Compre agora</p>
  </div>
  <div class="banner">
    <img class="banner-img" src="../../assets/img/banner-home.svg" />
    <button><p>Comprar</p></button>
    <img
      class="arrow-down"
      (click)="scrollDown()"
      src="../../assets/img/arrow-down.svg"
    />
  </div>
  <div class="section">
    <div class="texts">
      <h1>UM NOVO CONCEITO</h1>
      <p>Nosso jeito CMPS Luxury de ser.</p>
      <button><p>Navegar</p></button>
    </div>
    <div class="for-all">
      <h1>Para todos</h1>
      <div class="models-img">
        <div>
          <img src="../../assets/img/models/new-concept-1.jpg" />
        </div>
        <div>
          <img src="../../assets/img/models/new-concept-2.svg" />
        </div>
        <div>
          <img src="../../assets/img/models/new-concept-3.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
