.container {
  p {
    font-size: 18px;
    line-height: 25px;
    color: #a1a1a1;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .header-1 {
    display: flex;
    background-color: black;
    padding: 6px 18px;
    justify-content: space-between;

    .utility-texts {
      display: flex;
      gap: 11px;
    }

    .divider {
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .header-2 {
    display: flex;
    align-items: center;
    padding: 13px 25px;
    justify-content: space-between;
    background: #8a8a8a;

    input {
      background: #a1a1a1;
      border: 1px solid #000000;
      border-radius: 10px;
      width: 166px;
      height: 41px;
      padding-left: 40px;
    }

    img {
      cursor: pointer;
    }

    .menus {
      width: 100%;
      display: flex;
      justify-content: space-around;

      p {
        color: black;
      }
    }

    .search {
      position: absolute;
      left: 1054px;
    }

    .search-bag {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
