<div class="container">
  <div class="texts">
    <h1>Você.Eu.Nós</h1>
    <p>Ver Nova Coleção</p>
    <p>Ver Estilo Clima</p>
    <p>Ver Masculino</p>
    <p>Ver Feminino</p>
  </div>
  <div class="texts">
    <h1>Posso te ajudar?</h1>
    <p>Contate-nos</p>
    <p>Frete</p>
    <p>Reembolso / Taxas</p>
    <p>Meus Pedidos</p>
    <p>Guia de Tamanho</p>
    <p>Localização de Lojas</p>
  </div>
  <div class="texts">
    <h1>Corporativo</h1>
    <p>Termos e condições de Venda</p>
    <p>Politíca de Privacidade</p>
    <p>Politíca de Cookies</p>
    <p>Configurações de Cookie</p>
    <p>Autenticidade</p>
    <p>Carreiras</p>
  </div>
  <div class="follow-us-payment-method">
    <div>
      <h1>Siga-nos</h1>
      <img src="../../../assets/img/icons/social-media.svg" />
    </div>
    <img src="../../../assets/img/payment-method.svg" />
  </div>
</div>
