<div class="container">
  <div class="header-1">
    <p>SBLM | PICE</p>
    <div class="utility-texts">
      <p>Ajuda</p>
      <p class="divider">|</p>
      <p>Junte-se a nós</p>
      <p class="divider">|</p>
      <p>Entrar</p>
    </div>
  </div>
  <div class="header-2">
    <img src="../../../assets/img/logo.svg" />
    <div class="menus">
      <p>Nova coleção</p>
      <p>Estilo Clima</p>
      <p>Masculino</p>
      <p>Feminino</p>
      <p>Infantil</p>
      <p>SBLM&PICE</p>
    </div>
    <div class="search-bag">
      <input placeholder="Buscar" />
      <img src="../../../assets/img/icons/bag.svg" />
    </div>
  </div>
</div>
