@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  &.no-scroll {
    height: 100vh;
    overflow: hidden;
  }
}

h1,
h2,
h3,
p {
  font-family: "nunito", sans-serif;
  font-style: normal;
  color: black;
  font-weight: 700;
}

button {
  border-radius: 50px;
  align-items: center;
  padding: 10px 39px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #8a8a8a;
  cursor: pointer;

  p {
    color: #ffffff;
  }
}

input::placeholder {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: black;
  opacity: 0.6;
}
